html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  border-radius: 10px;
}

.gradient {
  background: #085078;
  background: linear-gradient(to right,
      #085078, #85D8CE);
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-transition,
.theme-transition .ant-layout{
  transition: background-color 0.3s ease, color 0.3s ease;
}

.no-select {
  user-select: none;
}

@media (max-width: 992px) {
  .card-margin-sm {
    margin-bottom: 16px;
  }
}